.venv/
venv/
__pycache__/
*.pyc

# ===== PyInstaller =====
dist/
build/
*.spec
main.spec

# ===== Inno Setup =====
Project/installer/*Installer*.exe

# ===== External binaries =====
Project/installer/vc_redist.x64.exe

